extends template.pug

block content
    .top-container
        .container
            each val in etapes
                .etape_item
                        p=val.titre
        .container-avancement
            img(src="/public/img/0pourcent.jpg")
            