extends template.pug

block content
    .connexion-images
        .connexion-images-item
            a(href="/connexion")
                img(src="/public/img/Symbole_Connexion_Nouvel_Arrivant.png")
        .connexion-images-item
            a(href="/rhService")
                img(src="/public/img/Symbole_Connexion_Ref_Integration.png")