extends etape.pug

block etape_content
    .etape_content
       
        p #{etape.titre}
        video(src=etape.video)

        form(method='POST' action='/questions')
            button(type='submit') Questions