link(href='/public/css/styles.css', rel='stylesheet')

mixin header()
    .template_header
        img(src="/public/img/logo.jpg")

mixin footer()
    .template_footer
        p Team yellow

doctype html
html
    head
        title=titre
    
    body
        +header()
        block content
        +footer()



