link(href='/public/css/styles.css', rel='stylesheet')

mixin header()
    .template_header
        img(src="/public/img/logo.jpg")

doctype html
html
    head
        title=titre
    
    body
        +header()
        block content



