link(href='/public/styles.css', rel='stylesheet')

mixin header()
    .test
        p header

mixin footer()
    .test
        p footer

doctype html
html
    head
        title=titre
    body
        +header()
        block content
        +footer()



