body{
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: Arial;
    overflow: hidden;
}
.top-container{
    flex-direction: column;
}
.container {
    flex-direction: column;
    width: 50%;
    float: left
}
.container-avancement{
    position: absolute;
    top: 0;
    right: 20px;
}

.connexion-images{
    display: flex;
    align-items:center;
    justify-content: center;
    position: relative;
    height: 100%;
}

.connexion-images-item{ 
    margin: 50px;
}

.etape-item a{
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.signin_form_container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: calc(100vh - 200px);
}
.signin_form{
    padding: 20px;
    border: solid 2px #0082D1;
    background-color: white;
    z-index: 5;
    opacity: 0.8;
}
.signin_form h1{
    color: #0082D1;
    text-transform: uppercase;
    font-size: 1.3em;
    text-align: center;
}
.signin_form form{
    margin-top: 40px;
    text-align: center;
}
.signin_form .form_group{
    padding: 5px;
}
.signin_form input{
    margin-left: 15px;
    padding: 5px;
    margin: 5px;
}
button{
    margin-top: 20px;
    padding: 8px;
    background-color: #00A8EC;
    box-shadow: none;
    border: none;
    text-transform: uppercase;
    font-size: 0.95em;
    color: white;
    font-weight: initial;
    cursor: pointer;
}
.template_header{
    height: 50px;
    display: flex;
    flex: 1;
    align-items: center;
    border-bottom: solid 1px black;
    padding: 5px;
}
.template_header img{
    height: 100%;
    float: left;
}
.template_header h1{
margin-left: 50px;
text-transform: uppercase;
font-size: 1.6em;
color: #0082D1;
}
.template_footer{
    position: absolute;
    text-align: center;
    bottom: 0px;
    width: 100%;
    height: 50px;
    border-top: solid 1px black;
}
.images_correction img{
    margin: 30px; 
}
.content_flex{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.radiogroup_check{
    display: flex;
    align-items: center;
    margin: 20px;
}
.radiogroup_check img{
    height: 60px;
    display: inline-block;
}
.radiogroup_check p{
    display: inline-block;
    margin-left: 20px;
    vertical-align: bottom;
}

.message-ok{
    border: 3px rgb(32, 34, 36);
    border-radius: 15px;
    background-color: rgb(95, 226, 128);
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 20px;
    margin-right: 20px; 
    padding-left: 20px;
    padding: 10px;
    text-decoration: none;
    color: white;
    text-align: center;
}

.message-erreur{
    border: 3px rgb(32, 34, 36);
    border-radius: 15px;
    background-color: rgb(189, 48, 48);
    color: white;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 20px;
    margin-right: 20px; 
    padding-left: 20px;
    padding: 5px;
    text-decoration: none;
}
.top-container .container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: wrap;
    justify-content: center;
    height: calc(100vh - 170px);
    align-content: initial;
}
.etape-item {
    width: 250px;
    height: 200px;
    padding: 20px;
    background-color: gray;
    margin: 60px 30;
}
.template_header_avancement{
    position: relative;
    height: 150px;
}
.top-container_avancement .container{
    float: initial;
    width:100%;
}
.etape-item {
    width: 250px;
    height: 200px;
    padding: 20px;
    background-color: #e1e1e1;
    margin: 60px 30;
    text-transform: uppercase;
    text-align: center;
}
.etape-item p {
    color: white;
    width: 40px;
    height: 40px;
    border: solid 2px white;
    border-radius: 40px;
    font-size: 1.5em;
    text-align: center;
    line-height: 40px;
    margin: auto;
    margin-bottom: 50px;
}
.etape-item-clicable {
    background-color: #024f9fc4;
}
.etape-item-done {
    background-color: #4caf50bd;
}
body::before {
    background-image: url("/public/img/stef_transport.jpg");
    content: "";
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    opacity: 0.13;
}
.top-container_avancement a, .top-container_avancement .titre {
    text-decoration: none;
    color: white;
    font-weight: 600;
}
.wrapper {
    position: relative;
    width: 1000px;
    height: 600px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin:auto;
  }
 
  .signature-pad {
    position: absolute;
    left: 0;
    top: 0;
    width:100%;
    height:100%;
    background-color: rgb(220,220,220);
  }
.etape_content{
    text-align: center;
}
.images_correction img {
    width: 250px;
}