body{
    padding: 0;
    margin: 0;
    font-family: Arial;
    
}
.top-container{
    flex-direction: column;
}
.container {
    flex-direction: column;
    width: 50%;
    float: left
}
.container-avancement{
    display: flex;
    flex-direction: row;
    align-content: space-between;
    float: right;
    text-align: center!important;
    padding-top: 50px;
    width: 50%;
}

.etape-item a{
    display: flex;
    flex-direction: row;
    border: 3px rgb(32, 34, 36);
    border-radius: 15px;
    background-color: rgb(181, 194, 204);
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px; 
    padding-left: 20px;
    padding: 10px;
    justify-content: flex-start;
    text-decoration: none;
}

.etape-item-clicable a{
    display: flex;
    flex-direction: row;
    border: 3px rgb(32, 34, 36);
    border-radius: 15px;
    background-color: rgb(153, 166, 175);
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 20px;
    padding: 10px;
    justify-content: flex-start;
    text-decoration: none;
}

.signin_form_container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: calc(100vh - 200px);
}
.signin_form{
    padding: 20px;
    border: solid 2px #0082D1;
}
.signin_form h1{
    color: #0082D1;
    text-transform: uppercase;
    font-size: 1.3em;
    text-align: center;
}
.signin_form form{
    margin-top: 40px;
    text-align: center;
}
.signin_form .form_group{
    padding: 5px;
}
.signin_form input{
    margin-left: 15px;
    padding: 5px;
    margin: 5px;
}
button{
    margin-top: 20px;
    padding: 8px;
    background-color: #00A8EC;
    box-shadow: none;
    border: none;
    text-transform: uppercase;
    font-size: 0.95em;
    color: white;
    font-weight: initial;
    cursor: pointer;
}
.template_header{
    height: 50px;
    display: flex;
    flex: 1;
    align-items: center;
    border-bottom: solid 1px black;
    padding: 5px;
}
.template_header img{
    height: 100%;
    float: left;
}
.template_header h1{
margin-left: 20px;
text-transform: uppercase;
font-size: 1.6em;
color: #0082D1;
}
.template_footer{
    position: absolute;
    text-align: center;
    bottom: 0px;
    width: 100%;
    height: 50px;
    border-top: solid 1px black;
}
.images_correction img{
    height: 400px;
    margin: 30px; 
}
.content_flex{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.radiogroup_check{
    display: flex;
    align-items: center;
    margin: 20px;
}
.radiogroup_check img{
    height: 60px;
    display: inline-block;
}
.radiogroup_check p{
    display: inline-block;
    margin-left: 20px;
    vertical-align: bottom;
}